<div class="container w-25 mt-2">
    <h2  class="text-center pb-3">Register</h2>
    <form class="">
        <div class="form-group">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Name">
        </div>
        <div class="form-group ">
            <label class="sr-only" for="inlineFormInputGroupEmail2">Email Adress</label>
            <input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputGroupEmail2" placeholder="Email">
        </div>
        
        <div class="form-group ">
            <label class="sr-only" for="inlineFormInputGroupPassword2">Password</label>
            <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputGroupPassword2" placeholder="Password">
        </div>
        <a routerLink="/login"><button type="submit" class="btn btn-block text-light">Sign in </button></a>
      </form>
</div>